<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Wedupp Test
  </h1>
</div>
Enter a number n to find n most frequent words in text file that donot belong to this array.

<br>
<br>
{{illegalArr}}
<br>
<br>

<input type="number" name="nmostfreq" [(ngModel)]="nfreq">


<button type="submit" name="submit" value="Get words" (click)="getwords()">Get Words</button>

<br>
<br>

<table *ngFor="let word of words" >
  <tr>
    <td>{{word}}</td>
  </tr>
</table>

<router-outlet></router-outlet>
